h2 {
    margin: 25px;
    padding: 0 0 5px 0;
    font-size: 22px;
    color: #666c74;
}

P {
    margin: 25px;
    color: #666c74;
    font-size: 18px;
    line-height: 20px;
}
th {
    font-size: 25px;
}
